doctype html
html
  head
    title= title
  body
    h1= title
    ul
      each val in jokesArray
        li= val

    form(name="input" method="post" action="/" id="form")
      div.input
        span.label Enter Joke:
        br 
        br
        input(type="text", name="joke", id="joke")
        br
        br
      div.actions
        input(type="submit", value="Enter")